$xs-min: 'max-width: 359px';
$xs-default: 'max-width: 480px';
$xs-max: 'max-width: 767px';
$xs: 'max-width: 1023px';

$sm-min: 'max-width: 1200px';
$sm-default: 'max-width: 1440px';
$sm-max: 'max-width: 1920px';
$sm: 'max-width: 4000px';


$screen: 1440;
$mobile: 1024;
$sMobile: 480;
