.h1, .h2, .h3, .h4, .h5, .h6 {
  font-family: var(--font-unbounded), 'sans-serif';
  font-weight: 500;
  line-height: 124%;
}

.h1 {
  font-size: 52px;
}

.h5 {
  font-size: 20px;
  line-height: 26px;
}

.h6 {
  font-size: 16px;
}

.primary {
  color: var(--primary-color)
}

.secondary {
  color: var(--secondary-color)
}

.tertiary {
  color: var(--tertiary-color);
}

.accent {
  color: var(--secondary-background);
}
