button.primary, a.primary {
  color: white;
  background-color: #7001FD;


  &:hover {
    background-color: #8D34FD;
  }

  &:active {
    background-color: #5A01CA;
  }
}

button.secondary, a.secondary {
  color: #7001FD;
  background-color: #f5f5f5;


  &:hover {
    color: #B57CFB;
    background-color: #F7F7F7;
  }

  &:active {
    color: #7001FD;
    background: linear-gradient(0deg, rgba(0, 0, 0, 0.02) 0%, rgba(0, 0, 0, 0.02) 100%), #F5F5F5;
  }
}

button.disabled, a.disabled {
  color: #BFBFBF;
  background-color: #f5f5f5;
}