.overlay {
  position: absolute;
  top: 0;
  left: 0;
  z-index: 100;
  display: flex;
  align-items: center;
  justify-content: center;
  width: 100%;
  height: 100%;
  background-color: black;
  opacity: 0.6;
}

.loader {
  position: absolute;
  top: 0;
  left: 0;
  z-index: 150;
  display: flex;
  align-items: center;
  justify-content: center;
  width: 100%;
  height: 100%;

  & svg {
    width: 100px;
    height: 100px;
    transform: perspective(140px) rotateX(40deg) rotateY(20deg) rotateZ(0deg);
    animation: zRotation 18s linear infinite;
     & path {
       fill: white;
     }
  }
}

.rounded {
 border-radius: 24px;


}

@keyframes zRotation {
  0% {transform:  perspective(140px) rotateX(40deg) rotateY(20deg) rotateZ(0deg);}
  100% {transform:  perspective(140px) rotateX(40deg) rotateY(20deg) rotateZ(360deg);}
}