.skeleton {
  margin-top: 12px;
  margin-bottom: 20px
}

.timerLoader {
  & > .timer {
    width: 200px;
    height: 50px;
    color: transparent;
    background-color: transparent;
    border-radius: 6px;
    animation: timerSkeleton 1s ease infinite;
    animation-fill-mode: forwards;
    & > * {
      display: none;
    }
  }

  & > .titleNotFound {
    height: 16px;
    margin-bottom: 12px;
    border-radius: 6px;
    animation: timerSkeleton 1s ease infinite;
    animation-fill-mode: forwards;
  }
}

.title {
  margin-bottom: 4px;
  font-size: 16px;
  font-weight: 400;
  line-height: 125%;
  color: #FFFFFF;

}

.timerInvalid {
  column-gap: 66px;
  justify-content: flex-start;
  padding-left: 22px;
}

.timer {
  display: flex;
  flex-wrap: wrap;
  align-items: center;
  justify-content: flex-start;
  & span {
    margin-right: 8px;
    font-family: var(--font-unbounded), 'sans-serif';
    font-size: 32px;
    font-weight: 500;
    line-height: 124%;
    color: var(--secondary-background);


  }

  .digit {
    width: 24px;
    font-size: 32px;
    font-weight: 500;
    line-height: 124%;
    color: var(--secondary-background);



    & + .digit {
      margin-left: 4px;

    }
  }

  .colon {
    display: flex;
    align-items: center;
    margin: 0 4px;
    font-size: 32px;
    font-weight: 500;
    line-height: 124%;
    color: var(--secondary-background);


  }

  .timerFont {
    font-family: var(--font-unbounded), 'sans-serif';
  }
}



